<form action="/login" method="post">
  <div>
    <p><%= message %></p>
  </div>
  <div>
    <div>ユーザーID：</div>
    <input type="text" name="username" />
  </div>
  <div>
    <div>パスワード：</div>
    <input type="password" name="password" />
  </div>
  <div>
    <input type="submit" value="ログイン" />
  </div>
</form>